<!DOCTYPE html>
<html>
<head>
<title>Scribble</title>
<meta charset="utf-8">
</head>
<body>
  <div class="body">
    <div class="menu">
        <ul class="menu">
          <li><a href="/page/0">Home</a></li>
        </ul>
    </div>
    <div class="login">
        {{if .AuthEnabled}}
        {{if .Profile}}
        <form method="post" action="{{.LogoutURL}}" class="navbar-form navbar-right">
          <button class="btn btn-default">Log out</button>
        </form>
        <div class="navbar-text navbar-right">
          {{if .Profile.ImageURL}}
            <img class="img-circle" width="24" src="{{.Profile.ImageURL}}">
          {{end}}
          <span>{{.Profile.DisplayName}}</span>
        </div>
        {{else}}
        <div class="navbar-text navbar-right">
          <a href="{{.LoginURL}}">Log in</a>
        </div>
        {{end}}
      {{end}}
    </div>
    <div class="content">
        {{template "body" .Data}}
      </div>
  </div>
</body>
</html>
